
.header {
    background: var(--gray-700);
    padding: 4rem 0;
    min-width: 90rem;
    min-height: 12.5rem;
    display: flex;
    justify-content: center;

}

.header img {
    width: 7.875rem;
    height: 3rem;
    
}